
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.calculator {
    border: 2px solid black;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #414141;
}

.display-wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin: 10px;
    margin-top: 20px;
    height: 60px;
    background-color: #FFF;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

.display-operator {
    display: flex;
    color: red;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.display-value {
    width: 90%;
    display: flex;
    justify-content:  end;
    align-items: center;
    padding: 0 10px;
}

.buttons-grid {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    gap: 10px;
}

.buttons-grid > li {
    text-decoration: none;
    list-style: none;
    border: 2px solid #000;
    border-radius: 5px;
    
    
}

.button[data-clear="clear"] {
    grid-column: 1 / 3;
    background-color: salmon;
}

.button[data-delete="delete"] {
    background-color: salmon;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#333333;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.5);
    cursor: pointer; 
    z-index: 100;
    user-select: none;
    
}

.button:active {
    box-shadow: none;
    transform: scale(0.95);
}

.button.operator {
    background-color: cornflowerblue;
}

.button.equals {
    background-color: olive;
}

.error {
    animation: fadeIn 4s;
    background-color: salmon;
    width:100%;
    justify-content: center;
    
}

.hide {
    background-color: blue;
    width: 0;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1}
    100% {opacity: 0;}
}